<div class="header">
  <h4 class="title">{{@post.title}}</h4>
  <PaperButton @classNames="hide-ls-sm" @iconButton={{true}} {{on "click" (fn this.goBackToPosts)}}>
    {{paper-icon "close"}}
  </PaperButton>
</div>
<div class="details">
  <PaperItem @class="md-2-line">
    <img src={{if (is-empty @post.user.avatar) 'https://place-hold.it/300x500?text=RN&fontsize=128' @post.user.avatar}} alt="Image placeholder" class="md-avatar">
    <div class="md-list-item-text">
      <div class="post-description">Started by <span class="author">{{@post.user.firstName}} {{@post.user.lastName}}</span></div>
      <div class="post-description">on <span class="date">{{format-date @post.createdAt}}</span></div>
    </div>
  </PaperItem>
</div>
<div class="post-content">
  {{@post.content}}
</div>

<PaperDivider class="divider-dark" />

<Comments @postId={{@post.id}} @comments={{@comments}} />
