<div class="flex-gt-xs-50 flex-100 main-window primary-color">
  <PaperSidenavToggle @name="left" as |toggleAction|>
    <PaperButton @classNames="hide-gt-sm show-menu-icon" @iconButton={{true}} @onClick={{action toggleAction}}>
      {{paper-icon "menu"}}
    </PaperButton>
  </PaperSidenavToggle>

  <div class="header">
    <h2>Works</h2>

    <MainScreenOrder />

  </div>
  <PaperDivider class="divider-dark" />

  <Posts @posts={{this.posts}} />

  <AddNewPost @createPost={{this.createPost}} />
</div>

{{outlet}}
